.selectionStack {
  margin: 0 auto;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.selectionStack .travel-direction {
  font-weight: 600;
  font-size: 1.5rem;
  color: #f2fcfe;
}

.selectionStack .stack-content {
  background-color: #f2fcfe;
  padding: 2rem;
  border-radius: 20px;
}

.stack-content .stack-details {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.stack-details .travel-date,
.stack-details .travel-className {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #8e8bff;
  border-radius: 50px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.travel-date i,
.travel-className i {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
