*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background: url(../public/assets/backdrop.jpg);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Fugaz One", cursive;
  color: #f2fcfe;
}

a{
  text-decoration: none;
}